span {
    font-weight: bold;
    font-family: "Monaco";
}

.member-card {
    padding: 10px 15px;
    width: 280px;
    font-size: 17px;
    background: #d5d7dc;
    margin: 10px;
    border-radius: 5px;
}